[user]
	name = Chris Connett
	email = cjc@google.com
[color]
	ui = true
[core]
        excludesfile=~/.gitignore
[push]
	default = simple
[pull]
	rebase = true
[rebase]
	autostash = true
[clangformat]
	style = Google
[diff]
	algorithm = minimal
[merge]
	tool = meld
[alias]
	ignore = update-index --assume-unchanged
	unignore = update-index --no-assume-unchanged
	split = !~/bin/gitsplit.sh
	back = reset HEAD^
	oblit = reset --hard HEAD^
