emacs.fontBackend: xft
emacs.font: DejaVu Sans Mono-9
emacs.menuBar: off
emacs.toolBar: off
urxvt.font: xft:DejaVu Sans Mono:thin:size=9:autohint=true
urxvt.saveLines: 20000
urxvt.scrollBar_right: True
urxvt.letterSpace:-2
